<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @ingredient.user_id %>
</p>

<%= link_to 'Edit', edit_user_ingredient_path(@user, @ingredient) %> |
<%= link_to 'Back', user_ingredients_path(@user) %>
